.footer {
  max-width: 882px;
  display: flex;
  justify-content: flex-start;
  padding: 60px 0;
  margin: 0 auto;
  color: #545454;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}

@media screen and (max-width: 740px) {
  .footer {
    max-width: 280px;
  }
}